scratch/*
src/cell_type_constellations/__pycache__/*.pyc
src/cell_type_constellations/*/*.pyc
src/cell_type_constellations/hulls/__pycache__/*.pyc
.DS_Store
src/cell_type_constellations.egg-info/PKG-INFO
.gitignore
src/cell_type_constellations/app/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/app/__pycache__/html_utils.cpython-311.pyc
src/cell_type_constellations/app/__pycache__/page_utils.cpython-311.pyc
src/cell_type_constellations/cells/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/cells/__pycache__/__init__.cpython-312.pyc
src/cell_type_constellations/cells/__pycache__/cell_set.cpython-311.pyc
src/cell_type_constellations/cells/__pycache__/cell_set.cpython-312.pyc
src/cell_type_constellations/cells/__pycache__/tree_utils.cpython-311.pyc
src/cell_type_constellations/cells/__pycache__/tree_utils.cpython-312.pyc
src/cell_type_constellations/cli/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/cli/__pycache__/visualization_app.cpython-311.pyc
src/cell_type_constellations/mixture_matrix/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/mixture_matrix/__pycache__/__init__.cpython-312.pyc
src/cell_type_constellations/mixture_matrix/__pycache__/mixture_matrix_generator.cpython-311.pyc
src/cell_type_constellations/mixture_matrix/__pycache__/mixture_matrix_generator.cpython-312.pyc
src/cell_type_constellations/rendering/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/rendering/__pycache__/continuous_color_map.cpython-311.pyc
src/cell_type_constellations/rendering/__pycache__/hull_rendering.cpython-311.pyc
src/cell_type_constellations/rendering/__pycache__/rendering_utils.cpython-311.pyc
src/cell_type_constellations/serialization/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/serialization/__pycache__/__init__.cpython-312.pyc
src/cell_type_constellations/serialization/__pycache__/serialization.cpython-311.pyc
src/cell_type_constellations/serialization/__pycache__/serialization.cpython-312.pyc
src/cell_type_constellations/utils/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/utils/__pycache__/__init__.cpython-312.pyc
src/cell_type_constellations/utils/__pycache__/connection_utils.cpython-311.pyc
src/cell_type_constellations/utils/__pycache__/connection_utils.cpython-312.pyc
src/cell_type_constellations/utils/__pycache__/coord_utils.cpython-311.pyc
src/cell_type_constellations/utils/__pycache__/coord_utils.cpython-312.pyc
src/cell_type_constellations/utils/__pycache__/geometry_utils.cpython-311.pyc
src/cell_type_constellations/utils/__pycache__/geometry_utils.cpython-312.pyc
src/cell_type_constellations/visual_elements/__pycache__/__init__.cpython-311.pyc
src/cell_type_constellations/visual_elements/__pycache__/__init__.cpython-312.pyc
src/cell_type_constellations/visual_elements/__pycache__/centroid.cpython-311.pyc
src/cell_type_constellations/visual_elements/__pycache__/centroid.cpython-312.pyc
src/cell_type_constellations/visual_elements/__pycache__/connection.cpython-311.pyc
src/cell_type_constellations/visual_elements/__pycache__/connection.cpython-312.pyc
src/cell_type_constellations/visual_elements/__pycache__/fov.cpython-311.pyc
src/cell_type_constellations/visual_elements/__pycache__/fov.cpython-312.pyc
src/cell_type_constellations.egg-info/dependency_links.txt
src/cell_type_constellations.egg-info/requires.txt
src/cell_type_constellations.egg-info/SOURCES.txt
src/cell_type_constellations.egg-info/top_level.txt
